.bubble{
  animation: animateElement linear .3s;
  animation-iteration-count: 1;
  background:#e7e7e7;
 }

#add-element{

}

@keyframes animateElement{
  0% {
    opacity:0;
    transform:  translate(0px,10px);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}

#output{
  width: calc((1200px - 15%)/3);
  padding: 5% 5% 10%;
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 52, 129, 0.2);
}

#website-container{
  padding: 2% 2% 10%;
  background-size: cover;
  border-radius: 2rem 2rem 0rem 0rem;
  box-shadow: 0px 0px 20px rgba(0, 52, 129, 0.2);

}


body{
  background-color: #f8f9fa
}

#input-param{
  width: calc(800px + 5%);
  padding: 5% 5% 10%;
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 52, 129, 0.2);
}

#vertices{
  width: calc((1200px - 15%)/3);
  padding: 5% 5% 10%;
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 52, 129, 0.2);
}
#result-node{
  width: calc(800px + 5%);
  padding: 5% 5% 10%;
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 52, 129, 0.2);
}
#visual{
  width: calc((1200px - 15%)/3);
  padding: 5% 5% 10%;
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 52, 129, 0.2);
}